@import "reset.css";
@import "scrollbar.css";

html,
body {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 50px;
    background-color: #0c0c0c;
    color: white;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
}



img {
    height: 100vh;
    position: relative;
}

.projects {
    width: 100vw;
    height: 100vh;
    font-size: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

a:link {
    font-family: "Times New Roman", serif;
    font-size: 56.25px;
    cursor: default;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: crosshair;
    color: white;
    text-shadow: 0px 0px 2.5px white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto;
}

.credits {
    font-family: "Times New Roman", serif;
    font-size: 56.25px;
    color: white;
    text-decoration: none;
    cursor: crosshair;
    /*  margin-left: 6.25vw;*/
}

.menu {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    /*  transition: all .25s; */
}


/*  adding a lil toggle transition  */
.menu-open {
    opacity: 1;
    visibility: visible;
    /*    transition: all .25s;*/
}



/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 0px 0 1px 0%;
}

.col:first-child {
    padding: 0px;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_1_of_2 {
    width: 50%;
}

.span_2_of_2 {
    width: 100%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
    .col {margin: 0px 0 1px 0%;}

    .span_1_of_2,.span_2_of_2 {
        width: 100%;
    }
    
     html,
    body {
        font-size: 25px;
    }

    a:link {
        font-size: 28.125px;
    }

    a:visited {
        font-size: 28.125px;
    }

    a:hover {
        font-size: 28.125px;
    }
    
     .credits {
        font-size: 28.125px;
    }
    
    img {
    height: 95vh;
}
    
}
