@import "reset.css";

a:link {cursor: crosshair;}

body {font-family: arial;}

.caption{
    display: inline-block;
    position: absolute;
    margin-top: 50vh;
}

header {
    position: fixed;
    bottom: 0;
}

img {
    height: 50vh;
    vertical-align: top;
    margin-left: -5px;
}

.main-content, .content-area { white-space: nowrap;}