@import "reset.css";

html,
body {
    font-family: arial;
    font-size: 25px;
    line-height: .9;
    color: black;
}

a:link {
    z-index: 100;
    font-family: "Times New Roman", serif;
    font-size: 28.125px;
    cursor: crosshair;
}

.dropbtn {
    font-family: arial;
    font-size: 25px;
    cursor: crosshair;
    border-radius: 25px;
    border: solid black;
    height: 25px;
}

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-top: 50vh;
}

img {
    height: 100vh;
    vertical-align: top;
    margin-right: -7px;
}

.notes {
    height: 50vh;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

.main-content,
.content-area {
    white-space: nowrap;
}
