<style>
@import url('https://fonts.googleapis.com/css?family=VT323');
</style>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
/*    overflow: hidden*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


@font-face {
    font-family: ub;
    src: url(UniversLTStd-BoldCn.otf);
}

@font-face {
    font-family: dwb;
    src: url(Druk Wide Bold.otf);
}

#title{
    font-size: 18px;
    font-family: vt323;
    color: black;

}

#firstcategory{
    font-size: 16px;
    font-family: vt323;

    
}



#category{
    letter-spacing: 1px;

    font-size: 16px;
    font-family: vt323;
    color: black;

}

#cate{
  
    font-size: 16px;
    font-family:vt323;
    color: black;
}


body {
	font-size: 14px;
	font-family: helvetica neue, sans-serif;
	background: FFF;
	color: black;
    text-align: justify;
    text-justify: inter-word;
}
#nomenu{
    color: black;
}

/* unvisited link */

a:link {
    color: black;
    text-decoration: none;

}


/* visited link */

a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */

a:hover {
    background-color: black;
    color: white;

}

a img { border: none; }


#menu {
    width: 250px;
    overflow: auto;
    top: 25px;
    bottom: 0;
	left: 25px;
    position: fixed; 
    height: 35%;
	background-color: none;
}

#menu ul {
	list-style: none;
	list-style-position:outside;
	list-style-type:none;
	margin: 10px 0px 10px -40px;
}

#a{
    text-indent: 100px;
}

#menu ul li.section-title { 
	text-decoration: none;
	margin: 0px 0px 0px 0px; 
}

expandingMenu: hover{
    background-color: black;
    color: white;
}

#menu ul li.hover { text-decoration: underline; }

#content {
    margin: 55px 0 0 275px;
}

.container {
    padding: 10px 10px 10px 10px;
}



#the-background {
height:100%;
left:0;
overflow:hidden;
position:hidden;
top:0;
width:100%;
z-index:1;
}


#wrapper {
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
z-index:2;
}

#content p { width: 400px; margin-bottom: 0; margin-left: 0px; }

p {
    margin: 10px 0px 0 0;
}

#img-container	{margin: 0; padding: 0; 
margin-left: 0px}
#img-container p	{ width: 65%; margin: 0;  }


#once { clear: left; }

#projecttitle{
    font-size: 16px;
    font-family: vt323;
    color: black;  

}

#subtitle{
    font-weight: 700;
    color: #909090;
    font-size: 12px;
}

#photocaption{
    font-family: vt323;
    font-weight: 100;
    color: #909090;
    font-size: 12px;
}

#bottom{
    color: #909090;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.container-block{
    width: 65%;
}

.tiptext {
    background:#ccc;
    border: 1px #333 solid;
    padding:5px;
    width:100px;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;
}
*/

/* Hide the scrollbar in Webkit */

body[data-view="project"]::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
  width: 1.0em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
   background: #000000;
        border-right: 1px solid #000000;
    border-left: 1px solid #000000;

}

::-webkit-scrollbar-track {
  background: #ffffff;
        border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}



html[data-view="project"].ios body {
	overflow: hidden;
}

h1{
    font-family:'PerpetuaTitlingMT-Bold';
    font-size: 75px;
    color: darkorange;
}